.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
}
.for-bell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.bell-icon {
    font-size: 2rem; 
    color: inherit; 
}
.bell-icon {
    transform: scale(1.5); 
    transition: transform 0.3s; 
}

.bell-icon:hover {
    transform: scale(1.6); 
}